---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Picturecard from "../components/picturecard.astro";
import { fade } from "astro:transitions";
import Projecttile from "../components/projecttile.astro";
import Projectwithlink from "../components/projectwithlink.astro";
---

<Layout title="John Zolton">
  <div class="text-white flex items-center flex-col">
    <h1 class="font-bold text-red-500">
      Welcome to <span class="text-gradient">Astro</span>
    </h1>
    <p>do that cool title card thing</p>
    <div>
      <h1 transition:name="luna" class="font-bold text-red-500">
        Murph and Luna
      </h1>
      <div class="w-56">
        <Picturecard
          href="pic1"
          transitionName="card1"
          alttext="murph"
          link="/img9.png"
        />
      </div>
      <h1 class="font-bold text-red-500" transition:name="lake">
        Murph at the Lake
      </h1>
      <div class="w-56">
        <Picturecard
          href="pic2"
          transitionName="card2"
          alttext="murphboat"
          link="/murph_boat.png"
        />
      </div>

      <Projectwithlink
        title="Lyfter"
        description="Workout and exercise tracker with built in performance monitoring and program adjustment"
        picture="lyfter2.png"
        page="lyfter"
        url="https://lyfter.vercel.app/"
        repo="https://github.com/JohnZolton/lyfter"
        stack="Next.js, TypeScript, React, tRPC, Prisma, Tailwind, Clerk"
        stars={5}
        forks={6}
      />
    </div>
  </div>
</Layout>
