---
import {fade} from 'astro:transitions';
import Layout from "../layouts/Layout.astro"
import Picturecard from '../components/picturecard.astro';
---

<Layout title="John Zolton">
	<main class="text-white flex items-center flex-col">
		<h1 transition:name="luna" class="font-bold text-red-500">Murph and Luna</h1>
		<Picturecard transitionName='card1' href='/'    alttext='murph' link='/img9.png'/>
	</main>
</Layout>