---
import {fade} from 'astro:transitions';
import Layout from "../layouts/Layout.astro"
import Picturecard from '../components/picturecard.astro';




---

<Layout title="John Zolton">
	<main class="text-white flex items-center flex-col">
		<h1 transition:name="lake" class="font-bold text-red-500">Murph at the Lake</h1>
		<Picturecard href='/' transitionName='card2'   alttext='murphboat' link='/murph_boat.png'/>
	</main>
</Layout>