---
interface Props {
	alttext: string;
	link: string;
	href:string;
	transitionName: string;
}

const { link, alttext, href , transitionName } = Astro.props;
---
<a href={href}>

	<img transition:name={transitionName} class="my-4" src={link} alt={alttext}>
	</img>
</a>